body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}
#container {
    margin: 0 auto;
    /*background: #FFFFFF url(#{request.contextPath}/resources/gfx/banner.png) no-repeat;*/
}
#chartdiv{
	margin: 0 auto;
}
#hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 0 auto;
	width: 99%;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
	color: #669;
	padding: 3px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
	color: #009;
	background-color: #CCF;
}
