body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
    background-color: #fff;
}
#container {
    margin: 0 auto;
    /*background: #FFFFFF url(#{request.contextPath}/resources/gfx/banner.png) no-repeat;*/
}
#chartdiv{
	margin: 0 auto;
}
#hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 0 auto;
	width: 99%;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
	color: #669;
	padding: 3px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
	color: #009;
	background-color: #CCF;
}


#current-stocks-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	border-collapse: collapse;
	text-align: left;
	margin-left: 12px;
	width: 99%;
}
#current-stocks-table th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#current-stocks-table td
{
	color: #669;
	padding: 3px 8px 0px 8px;
}
#current-stocks-table tbody tr:hover td
{
	color: #009;
	background-color: #CCF;
}

#closed-stocks-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	border-collapse: collapse;
	text-align: left;
	margin-left: 12px;
	width: 99%;
}
#closed-stocks-table th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#closed-stocks-table td
{
	color: #669;
	padding: 3px 8px 0px 8px;
}
#closed-stocks-table tbody tr:hover td
{
	color: #009;
	background-color: #CCF;
}

#top-bar{
	width: 100%;
	background-color: #111;
	border-bottom: 1px solid #FFF;
	height: 25px;
}
#general-info-section{
	width: 58%;
	float: left;
}
#current-info-section{
	float: right;
	width: 40%;
}
.infonumber{
	font-size: 16px;
	font-family: "trebuchet ms"
	font-weight: bold;
	font-size: 34px;
}
#closed-stocks{
	float: right;
    margin-right: 12px;
    width: 100%;
    clear: both;
}
#current-stocks{
	float: right;
    margin-right: 12px;
    width: 100%;
}
#recommended-stocks{
	float: left;
	width: 100%;
}
#budget{
	float: left;
    padding-left: 40px;
    padding-top: 40px;
}
#invested{
	clear: both;
    float: left;
    margin-top: 10px;
    padding-left: 40px;
}
#budget-nbr{
	float: left;
    padding-left: 30px;
    padding-top: 40px;
}
#invested-nbr{
	float: left;
    padding-left: 1px;
    padding-top: 10px;
}
.paragraph-title{
	color: #00234F;
	font-weight: bold;
	padding-left: 12px;
}
